.main-layout {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.sidebar {
    width: 220px;
    padding: 20px;
    background: #f5f5f5;
}

.content {
    flex: 1;
    padding: 20px;
}